@charset "UTF-8";
/* chill.css: チルアウトスタイルのCSS - 効率化版 */

:root {
	--main-bg-color: rgb(75, 175, 175);
	--letter-color: rgb(0, 255, 0);
	--text-color: rgb(220, 170, 80);
	--bg-color: rgb(90, 50, 115);
}

pre {
	color: var(--text-color);
	text-align: center;
}

span,
a,
header,
h1,
h2,
h3 {
	color: var(--main-bg-color);
}

header {
	width: 100%;
	text-align: center;
}

body {
	background-color: var(--bg-color);
	text-align: left;
	color: var(--letter-color);
}

h1 {
	font-size: 35px;
	text-align: left;
}

h2,
h3 {
	text-align: left;
}

h4 {
	color: teal;
	text-align: left;
}

li {
	color: var(--text-color);
	text-align: left;
}

strong {
	color: red;
}

}

b {

	color:teal;

}

/* 本文 */
p {

    color: rgb(220, 170, 80);
    font-size: 15px;
    text-align: left;

}

select {

	color: var(--main-bg-color);
	background-color: purple;
	border: 1px solid teal;
	border-radius: 6px;
    text-align:center;

}

/* 折りたたみ */
details {

    color: var(--main-bg-color);

}

summary {

    font-size: 15px;

}

input {

	margin-top: 20px;
	margin-left: 5px;
	color: var(--main-bg-color);
	background-color: purple;
	border: 1px solid teal;
	border-radius: 6px;

}

table {

	border-collapse:collapse;
	border-color: var(--main-bg-color);

}

/* table */
table th {

	border-color: var(--main-bg-color);
	color: rgb(220, 170, 80);
	text-align: center

}

table td {

	border-color: var(--main-bg-color);
	color: rgb(220, 170, 80);
	text-align: center

}

/* button */
button {

	margin: 3px;
	padding: 7px 14px;
	color: rgb(220, 170, 80);
	background-color: rgb(150, 65, 150);
	border: 1px solid blue;
	border-radius: 12px;
	text-align: center;

}

button:hover {

	margin: 3px;
	padding: 7px 14px;
	color: aqua;
	background-color: rgb(50, 50, 100);
	border: 1px solid rgb(160, 40, 140);
	border-radius: 12px;
	text-align: center;

}

/* ボタンを等幅に設定 */
.equal_width_button {

	width: 100px;

}

/* index.cgi */
.layout {

   display:flex;
   flex-wrap:wrap;
   flex-direction: row-reverse;
   justify-content:space-between;

}

header,main,aside,footer {

   padding:10px 0;

}

main {

	width:75%;

}

aside {

	width:25%;
    text-align:center

}

footer {

	width:100%;

}

/* カバーアートのリサイズ */
.resize img {

	 width: 360px;

}

/* カバーアートの位置調整 */
.img {

	position: relative;
	left: 35px;
	margin: 5px;

}

@media (max-width:500px) {

  header,main,aside,footer {
    width:100%;

  }

}

/* setting.cgi */
.link {

	margin-top: 15px;

}

/* 要素を左右に並べる */
.box {

	display: flex;
	justify-content: flex-start;

}

.box div {

	width: 160px;

}

/* playlist.cgi */
/* プレイリストの内容の表示 */
.content {

    color: rgb(220, 170, 80);

	/* 文字列の幅に合わせる */
	display:inline-block;
	padding: 10px;
  	border: 2px solid teal;
	border-radius: 10px;

}

/* ボタンを中央寄せ */
#playlist_button {

	display: block;
  	margin: auto;

}

/* ボタンを右寄せ */
#close_button {

	display: block;
  	margin: 0 0 0 auto;

}

/* iframeを中央寄せ */
iframe {

	display: block;
  	margin: auto;

}

/* queued.cgi */
/* 現在再生中の曲 */
.now_playing {

	border: 1px solid red;
	color: lime;

}

.now_playing:hover {

	border: 2px solid rgb(160, 40, 140);
	font-weight: bold;

}

