@charset "UTF-8";
/* grey.css: グレイテーマのcss */

/* 見出しの色 */
:root{
    --main-bg-color: rgb(50, 50, 50);
    --letter-color: rgb(160, 160, 160);
}

/* アスキーアート */
pre{
	color: rgb(180, 190, 190);
    text-align:left
}

/* サブタイトル */
span{
	color: rgb(180, 185, 185);
}

/* リンクの文字色 */
a{
    color: var(--main-bg-color);
}

/* ヘッダー */
header{
	color: rgb(180, 185, 185);
    text-align:left
}

/* 背景色 */
body{
    background-color: rgb(60, 65, 65);
	color: rgb(0, 0, 0);
    text-align:left
}

/* 大見出し */
h1{
	color: rgb(180, 185, 185);
    font-size: 35px;
    text-align:left
}

/* 中見出し */
h2{
	color: rgb(180, 185, 185);
    text-align:left
}

/* 小見出し */
h3{
	color: rgb(180, 185, 185);
    text-align:left
}

h4{
	color: rgb(180, 185, 185);
    text-align:left
}

l1{
    color:rgb(180, 185, 185) ;
    text-align:left
}

l2{
    color:rgb(180, 185, 185) ;
    text-align:left
}

/* 本文 */
p{
    color: rgb(140, 140, 140);
    font-size: 15px;
    text-align:left
}

a{
    color: rgb(185, 185, 185);
    font-size: 15px;
    text-align:left
}

select{
    color: rgb(140, 140, 140);
	background-color: rgb(55, 60, 60);
	border: 1px solid rgb(140, 145, 145);
	border-radius: 6px;
    text-align:center
}

/* 折りたたみ */
details{
    color: rgb(140, 140, 140);
}

summary{
    font-size: 15px;
}

input{
	margin-top: 20px;
    color: rgb(155, 160, 160);
	background-color: rgb(60, 65, 65);
	border: 1px solid rgb(140, 145, 145);
	border-radius: 6px;
}

table{
	border-collapse:collapse;
	border-color: rgb(155, 160, 160);
}

/* table */
table th{
	border-color: rgb(155, 160, 160);
	color: rgb(180, 185, 185);
	text-align: center
}

table td{
	border-color: rgb(155, 160, 160);
	color: rgb(180, 185, 185);
	text-align: center
}

/* button */
button{
	margin: 3px;
	padding: 7px 14px;
	color: rgb(155, 160, 160);
	background-color: rgb(60, 65, 65);
	border: 1px solid rgb(140, 145, 145);
	border-radius: 12px;
	text-align: center;
}

button:hover{
	margin: 3px;
	padding: 7px 14px;
	color: rgb(25, 30, 30);
	background-color: rgb(195, 200, 200);
	border: 1px solid rgb(180, 185, 185);
	border-radius: 12px;
	text-align: center;
}

/* div class */
.link{
	margin-top: 15px;
}
