@charset "UTF-8";
/* light.css: ライトテーマのcss */

/* 見出しの色 */
:root {

    --main-bg-color: rgb(50, 50, 50);
    --letter-color: rgb(160, 160, 160);

}

/* アスキーアート */
pre {

	color: rgb(40, 230, 230);
    text-align: center;

}

/* サブタイトル */
span {

	color: orange;

}

/* リンクの文字色 */
a {

    color: var(--main-bg-color);

}

/* ヘッダー */
header {

	width: 100%;
	color: rgb(40, 230, 230);
    text-align: center;

}

/* 背景色 */
body {

    background-color: rgb(255, 255, 255);
	color: rgb(40, 230, 230);
    text-align: left;

}

/* 大見出し */
h1 {

	color: rgb(40, 230, 230);
    font-size: 35px;
    text-align: left;

}

/* 中見出し */
h2 {

	color: rgb(40, 230, 230);
    text-align: left;

}

/* 小見出し */
h3 {

	color: rgb(40, 230, 230);
    text-align: left;

}

h4 {

	color: rgb(40, 230, 230);
    text-align: left;

}

l1 {

    color:black ;
    text-align: left;

}

l2 {

    color:black ;
    text-align: left;

}

strong {

	color:pink;

}

b {

	color:lightblue;

}

/* 本文 */
p {

    color: black;
    font-size: 15px;
    text-align: left;

}

select {

	color: var(--main-bg-color);
	background-color: white;
	border: 1px solid teal;
	border-radius: 6px;
    text-align:center

}

/* 折りたたみ */
details {

    color: var(--main-bg-color);

}

summary {

    font-size: 15px;

}

input {

	margin-top: 20px;
	color: var(--main-bg-color);
	background-color: white;
	border: 1px solid teal;
	border-radius: 6px;

}

table {

	border-collapse:collapse;
	border-color: teal;

}

/* table */
table th {

	color: black;
	text-align: center

}

table td {

	color: black;
	text-align: center

}

/* button */
button {

	margin: 3px;
	padding: 7px 14px;
	color: black;
	background-color: white;
	border: 1px solid orange;
	border-radius: 12px;
	text-align: center;

}

button:hover {

	margin: 3px;
	padding: 7px 14px;
	color: white;
	background-color: rgb(40, 230, 230);
	border: 1px solid orange;
	border-radius: 12px;
	text-align: center;

}

/* ボタンを等幅に設定 */
.equal_width_button {

	width: 100px;

}

/* div class */
.link {

	margin-top: 15px;

}

/* 要素を左右に並べる */
.box {


	display: flex;
	justify-content: flex-start;


}

.box div {


	width: 160px;


}

/* index.cgi */
.layout {

   display:flex;
   flex-wrap:wrap;
   flex-direction: row-reverse;
   justify-content:space-between;

}

header,main,aside,footer {

   padding:10px 0;

}

main {

	width:75%;

}

aside {

	width:25%;
    text-align:center

}

footer {

	width:100%;

}

/* カバーアートのリサイズ */
.resize img {

	 width: 360px;

}

@media (max-width:500px) {

	header,main,aside,footer {

		width:100%;
  
	}

}

/* setting.cgi */
.link {

	margin-top: 15px;

}

/* 要素を左右に並べる */
.box {

	display: flex;
	justify-content: flex-start;

}

.box div {

	width: 160px;

}

.content {

	color: black;

	/* 文字列の幅に合わせる */
	display:inline-block;
	padding: 10px;
  	border: 1px solid orange;
	border-radius: 10px;

}

/* ボタンを中央寄せ */
#playlist_button {

	display: block;
  	margin: auto;

}

/* ボタンを右寄せ */
#close_button {

	display: block;
  	margin: 0 0 0 auto;

}
