@charset "UTF-8";
/* stylesheet.css: 標準のスタイル,ダークテーマのcss */

/* 見出しの色 */
:root {

    --main-bg-color: rgb(0, 255, 10);
    --letter-color: rgb(35, 35, 35);

}
/* アスキーアート */
pre {

	color: var(--main-bg-color);
    text-align:center

}

/* サブタイトル */
span {

	color: var(--main-bg-color);

}

/* リンクの文字色 */
a {

    color: var(--main-bg-color);

}

/* ヘッダー */
header {

	width:100%;
    color: var(--main-bg-color);
    text-align:center

}

/* 背景色 */
body {

    background-color: rgb(10, 10, 10);
    text-align: left;
	 
}

/* 大見出し */
h1 {
	
    color: var(--main-bg-color);
    font-size: 35px;
    text-align: left;
	
}
 
/* 中見出し */
h2 {

    color: var(--main-bg-color);
    text-align: left;

}

/* 小見出し */
h3 {

    color: var(--main-bg-color);
    text-align: left;

}

h4 {

    color: teal;
    text-align: left;

}

l1 {

    color:white ;
    text-align: left;

}

l2 {

    color:white ;
    text-align: left;

}

strong {

	color:red;

}

b {

	color:blue;

}

/* 本文 */
p {

    color: white;
    font-size: 15px;
    text-align: left;

}

select {

	color: var(--main-bg-color);
	background-color: black;
	border: 1px solid teal;
	/* border-radius: 6px; */
    text-align: center;

}

/* 折りたたみ */
details {

    color: var(--main-bg-color);

}

summary {

    font-size: 15px;

}

input {

	margin-top: 20px;
	margin-left: 5px;
	color: var(--main-bg-color);
	background-color: black;
	border: 1px solid teal;
	/* width: 200px; */

}

/* table */
table {

	border-collapse:collapse;
	border-color: green;

}

table th {

	border-color: green;
	color: white;
	text-align: center

}

tr {

	border-color: green;

}
	 
table td {

	border-color: green;
	color: white;
	text-align: center

}

/* button */
button {

	margin: 3px;
	padding: 7px 14px;
	color: white;
	background-color: black;
	border: 1px solid teal;
	text-align: center;
	width: auto;

}

button:hover {

	margin: 3px;
	padding: 7px 14px;
	color: var(--main-bg-color);
	background-color: black;
	border: 1px solid orange;
	text-align: center;

}

/* ボタンを等幅に設定 */
.equal_width_button {

	width: 100px;

}

/* index.cgi */
.layout {

   display:flex;
   flex-wrap:wrap;
   flex-direction: row-reverse;
   justify-content:space-between;

}

header,main,aside,footer {

   padding: 10px 0;

}

main {

	width: 70%;

}

/* サイドバー */
aside {

	width: 30%;
    text-align:center

}

footer {

	width:100%;

}

/* カバーアートのリサイズ */
.resize img {

	 width: 360px;

}

/* カバーアートの位置調整 */
.img {

	position: relative;
	left: 35px;
	margin: 5px;

}

@media (max-width:500px) {

  header,main,aside,footer{
    width:100%;

  }
  
}

/* setting.cgi */
.link {

	margin-top: 15px;

}

/* 要素を左右に並べる */
.box {

	display: flex;
	justify-content: flex-start;

}

.box div {

	width: 160px;

}

/* playlist.cgi */
/* プレイリストの内容の表示 */
.content {

	color: white;
	background-color: rgb(15, 15, 15);

	/* 文字列の幅に合わせる */
	display:inline-block;
	padding: 10px;
  	border: 2px solid teal;
	border-radius: 10px;

}

/* ボタンを中央寄せ */
#playlist_button {

	display: block;
  	margin: auto;

}

/* ボタンを右寄せ */
#close_button {

	display: block;
  	margin: 0 0 0 auto;

}
